.our_location_main_tank{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fbead385;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
    font-family: 'poppins',sans-serif;
    }
    .our_location_container{
      width: 80%;
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      font-family: 'poppins',sans-serif;
      display: block;
    }
    .title{
      font-size: 2.5rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Noto serif' serif;
      margin: 0 auto;
      border-bottom: 4px solid #B5302F;
      width: fit-content;
      color: #85302F;
      font-weight: 600;
      padding: 0;
      box-sizing: border-box;
    }
    .our_location_wrapper_store{
      width: 100%;
      height: auto;
      position: relative;
      display: flex;
      padding: 0;
      box-sizing: border-box;
      margin: 0;
      font-family: 'poppins',sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5 ;
      color: #212529;
      text-align: left;
    }
    .categories_section_main_tank_store{
      background-color: #fff;
      display: flex;
      width: 32%;
      height: auto;
      justify-content: center;
      align-items: center;
      margin: 1rem auto;
      gap: 2rem;
      transform: 0.3s all ease-in-out;
      cursor: pointer;
      text-decoration: none !important;
      font-family: quicksand, sans-serif;
      
    }
    .linketag{
    
      text-decoration: none !important;
    
    } 
    .store_image{
      width: 100%;
      height: auto;
      padding: 1rem 0;
      display: flex;
      justify-content: center;
      transition: 0.3s all ease-in-out;
      box-sizing: border-box;
      margin: 0;
    }
    .store_image img{
      width: 80% !important;
      height: 215px !important;
      border-radius: 15px !important;
    
    }
    .store_heading{
      font-size: 1.5rem;
        text-align: center;
        color: #B5302F;
        font-weight: 600;
        text-decoration: none;
        padding: 0;
        box-sizing: border-box;
        margin: 0;
        display: block;
        font-family: 'poppins',sans-serif;
    }
    .store_description{
      color: black;
      font-size: 1rem;
      margin: 1rem;
      text-align: justify;
      font-weight: 500;
      padding: 0;
      box-sizing: border-box;
      font-family: 'poppins',sans-serif;
      display: block;
    }
    .description{
      text-align: left;
        padding: 10px;
        color: #000 !important;
        box-sizing: border-box;
        display: block;
        margin: 0;
        font-family: 'poppins',sans-serif;
        cursor: pointer;
    }
    .store_Timing_heading{
      font-size: 1.5rem;
        text-align: left !important;
        color: #B5302F;
        font-weight: 600;
        padding: 0;
        box-sizing: border-box;
        margin: 0;
        display: block;
        font-family: 'poppins',sans-serif;
    }
    .text-container{
      width: 100%;
        height: auto;
        padding: 2rem ;
        box-sizing: border-box;
    } 
    .store_timing_heading{
      font-size: 1.5rem;
        text-align: left !important;
        color: #B5302F;
        font-weight: 600;
    }